.tooltip {
    position: absolute;
    display:none;
    border-bottom: 1px dotted black;
    font-size: 13px;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: rgb(40, 91, 133);
    color: white;
    border-radius: 12px;
    opacity: 0.7;
  }
  

.tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}